USE [master]
GO
/****** Object:  Database [QLSV_MRBEAST]    Script Date: 5/15/2026 6:25:52 PM ******/
CREATE DATABASE [QLSV_MRBEAST]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLSV_MRBEAST', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLSV_MRBEAST.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLSV_MRBEAST_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLSV_MRBEAST_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLSV_MRBEAST].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLSV_MRBEAST]
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 5/15/2026 6:25:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[MaMH] [varchar](20) NOT NULL,
	[TenMH] [nvarchar](150) NOT NULL,
	[SoTinChi] [tinyint] NULL,
	[GiangVienPhuTrach] [nvarchar](100) NULL,
	[MoTaMonHoc] [nvarchar](max) NULL,
 CONSTRAINT [PK__MonHoc__2725DFD9398D80A7] PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopHoc]    Script Date: 5/15/2026 6:25:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHoc](
	[MaLop] [varchar](20) NOT NULL,
	[TenLop] [nvarchar](100) NOT NULL,
	[Khoa] [nvarchar](100) NULL,
	[NamHoc] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 5/15/2026 6:25:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MaSV] [varchar](20) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[SoDienThoai] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[HinhAnh] [varchar](max) NULL,
	[MaLop] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_BaoCaoThanhTich]    Script Date: 5/15/2026 6:25:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =========================================================================
-- 5. TẠO VIEW TÍNH TOÁN BÁO CÁO
-- =========================================================================
CREATE VIEW [dbo].[vw_BaoCaoThanhTich] AS
SELECT 
    sv.MaSV, sv.HoTen, l.TenLop, mh.TenMH, 
    kq.DiemQuaTrinh, kq.DiemGiuaKy, kq.DiemCuoiKy,
    ROUND((kq.DiemQuaTrinh * 0.2) + (kq.DiemGiuaKy * 0.3) + (kq.DiemCuoiKy * 0.5), 1) AS DiemTongKet,
    CASE 
        WHEN ROUND((kq.DiemQuaTrinh * 0.2) + (kq.DiemGiuaKy * 0.3) + (kq.DiemCuoiKy * 0.5), 1) >= 9.0 THEN N'Xuất sắc'
        WHEN ROUND((kq.DiemQuaTrinh * 0.2) + (kq.DiemGiuaKy * 0.3) + (kq.DiemCuoiKy * 0.5), 1) >= 8.0 THEN N'Giỏi'
        WHEN ROUND((kq.DiemQuaTrinh * 0.2) + (kq.DiemGiuaKy * 0.3) + (kq.DiemCuoiKy * 0.5), 1) >= 6.5 THEN N'Khá'
        WHEN ROUND((kq.DiemQuaTrinh * 0.2) + (kq.DiemGiuaKy * 0.3) + (kq.DiemCuoiKy * 0.5), 1) >= 5.0 THEN N'Trung bình'
        ELSE N'Yếu'
    END AS HocLuc,
    kq.NhanXetGiangVien
FROM KetQuaHocTap kq
JOIN SinhVien sv ON kq.MaSV = sv.MaSV
JOIN LopHoc l ON sv.MaLop = l.MaLop
JOIN MonHoc mh ON kq.MaMH = mh.MaMH;
GO
/****** Object:  Table [dbo].[DiemThi]    Script Date: 5/15/2026 6:25:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiemThi](
	[MaSV] [varchar](20) NOT NULL,
	[MaMH] [varchar](20) NOT NULL,
	[DiemQuaTrinh] [tinyint] NULL,
	[DiemGiuaKi] [tinyint] NULL,
	[DiemCuoiKi] [tinyint] NULL,
	[TongKet] [tinyint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonHocDangKi]    Script Date: 5/15/2026 6:25:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHocDangKi](
	[MaSV] [varchar](20) NOT NULL,
	[MaMH] [varchar](20) NULL,
	[TenMH] [nvarchar](150) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 5/15/2026 6:25:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhau] [varchar](255) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[QuyenHan] [nvarchar](50) NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[LopHoc] ([MaLop], [TenLop], [Khoa], [NamHoc]) VALUES (N'D24CQAT01', N'An toàn Thông tin 1', N'CNTT', N'2024-2028')
INSERT [dbo].[LopHoc] ([MaLop], [TenLop], [Khoa], [NamHoc]) VALUES (N'D24CQCN01', N'Công nghệ Thông tin 1', N'CNTT', N'2024-2028')
INSERT [dbo].[LopHoc] ([MaLop], [TenLop], [Khoa], [NamHoc]) VALUES (N'D24CQCN02', N'Công nghệ Thông tin 2', N'CNTT', N'2024-2028')
GO
INSERT [dbo].[MonHoc] ([MaMH], [TenMH], [SoTinChi], [GiangVienPhuTrach], [MoTaMonHoc]) VALUES (N'AT01', N'Mạng Máy Tính', 3, N'TS. Hoàng E', N'OSI, TCP/IP')
INSERT [dbo].[MonHoc] ([MaMH], [TenMH], [SoTinChi], [GiangVienPhuTrach], [MoTaMonHoc]) VALUES (N'AT02', N'Mật mã học cơ bản', 3, N'ThS. Võ F', N'RSA, AES, Hash')
INSERT [dbo].[MonHoc] ([MaMH], [TenMH], [SoTinChi], [GiangVienPhuTrach], [MoTaMonHoc]) VALUES (N'DC01', N'Toán Cao Cấp', 3, N'ThS. Vũ L', N'Tích phân, Đạo hàm')
GO
INSERT [dbo].[SinhVien] ([MaSV], [HoTen], [NgaySinh], [GioiTinh], [SoDienThoai], [Email], [DiaChi], [HinhAnh], [MaLop]) VALUES (N'SV001', N'Nguyễn Văn Trí', CAST(N'2005-01-10' AS Date), N'Nam', N'0901000001', N'tri@mrbeast.vn', NULL, NULL, N'D24CQCN01')
INSERT [dbo].[SinhVien] ([MaSV], [HoTen], [NgaySinh], [GioiTinh], [SoDienThoai], [Email], [DiaChi], [HinhAnh], [MaLop]) VALUES (N'SV002', N'Trần Thị Mai', CAST(N'2005-02-15' AS Date), N'Nữ', N'0901000002', N'mai@mrbeast.vn', NULL, NULL, N'D24CQCN01')
INSERT [dbo].[SinhVien] ([MaSV], [HoTen], [NgaySinh], [GioiTinh], [SoDienThoai], [Email], [DiaChi], [HinhAnh], [MaLop]) VALUES (N'SV003', N'Lê Minh Hoàng', CAST(N'2004-12-05' AS Date), N'Nam', N'0901000003', N'hoang@mrbeast.vn', NULL, NULL, N'D24CQCN01')
GO
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [HoTen], [QuyenHan], [TrangThai]) VALUES (N'admin', N'123456', N'MrBeast Root', N'Admin', 1)
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [HoTen], [QuyenHan], [TrangThai]) VALUES (N'gv01', N'123456', N'Nguyễn Giáo Vụ', N'Giáo vụ', 1)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_SinhVien_MaLop]    Script Date: 5/15/2026 6:25:52 PM ******/
CREATE NONCLUSTERED INDEX [IDX_SinhVien_MaLop] ON [dbo].[SinhVien]
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DiemThi] ADD  CONSTRAINT [DF_dbo.DiemThi_DiemQuaTrinh]  DEFAULT ((0)) FOR [DiemQuaTrinh]
GO
ALTER TABLE [dbo].[DiemThi] ADD  CONSTRAINT [DF_dbo.DiemThi_DiemGiuaKi]  DEFAULT ((0)) FOR [DiemGiuaKi]
GO
ALTER TABLE [dbo].[DiemThi] ADD  CONSTRAINT [DF_dbo.DiemThi_DiemCuoiKi]  DEFAULT ((0)) FOR [DiemCuoiKi]
GO
ALTER TABLE [dbo].[DiemThi] ADD  CONSTRAINT [DF_dbo.DiemThi_Tổng kết]  DEFAULT ((0)) FOR [TongKet]
GO
ALTER TABLE [dbo].[SinhVien] ADD  DEFAULT (N'Nam') FOR [GioiTinh]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT (N'Giáo vụ') FOR [QuyenHan]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[DiemThi]  WITH CHECK ADD  CONSTRAINT [FK_DiemThi_MonHoc] FOREIGN KEY([MaMH])
REFERENCES [dbo].[MonHoc] ([MaMH])
GO
ALTER TABLE [dbo].[DiemThi] CHECK CONSTRAINT [FK_DiemThi_MonHoc]
GO
ALTER TABLE [dbo].[DiemThi]  WITH CHECK ADD  CONSTRAINT [FK_DiemThi_SinhVien] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhVien] ([MaSV])
GO
ALTER TABLE [dbo].[DiemThi] CHECK CONSTRAINT [FK_DiemThi_SinhVien]
GO
ALTER TABLE [dbo].[MonHocDangKi]  WITH CHECK ADD  CONSTRAINT [FK_MonHocDangKi_MonHoc] FOREIGN KEY([MaMH])
REFERENCES [dbo].[MonHoc] ([MaMH])
GO
ALTER TABLE [dbo].[MonHocDangKi] CHECK CONSTRAINT [FK_MonHocDangKi_MonHoc]
GO
ALTER TABLE [dbo].[MonHocDangKi]  WITH CHECK ADD  CONSTRAINT [FK_MonHocDangKi_SinhVien] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhVien] ([MaSV])
GO
ALTER TABLE [dbo].[MonHocDangKi] CHECK CONSTRAINT [FK_MonHocDangKi_SinhVien]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien_LopHoc1] FOREIGN KEY([MaLop])
REFERENCES [dbo].[LopHoc] ([MaLop])
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK_SinhVien_LopHoc1]
GO
ALTER TABLE [dbo].[MonHoc]  WITH CHECK ADD  CONSTRAINT [CK__MonHoc__SoTinChi__628FA481] CHECK  (([SoTinChi]>(0)))
GO
ALTER TABLE [dbo].[MonHoc] CHECK CONSTRAINT [CK__MonHoc__SoTinChi__628FA481]
GO
USE [master]
GO
